{lib_dirs, ["deps"]}.

{erl_opts, [
    debug_info,
    warn_format,
    warn_export_vars,
    warn_obsolete_guard,
    warn_bif_clash
]}.

{deps, [
    {e2,     ".*", {git, "git://github.com/gar1t/e2.git", "master"}},
    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "0.8.2"}},
    {jiffy,  ".*", {git, "git://github.com/davisp/jiffy.git", "0.8.2"}},
    {uuid,   ".*", {git, "git://github.com/okeuday/uuid.git", "v1.2.0"}},
    {uri,    ".*", {git, "git://github.com/heroku/uri.git", "master"}},
    {erlcloud, ".*", {git, "git://github.com/gleber/erlcloud.git", "v0.8.0"}}
]}.
