{lib_dirs, ["deps"]}.

{erl_opts, [
    debug_info,
    warn_format,
    warn_export_vars,
    warn_obsolete_guard,
    warn_bif_clash
]}.

{deps, [
    {e2,     ".*", {git, "git://github.com/gar1t/e2.git"}},
    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git"}},
    {jiffy,  ".*", {git, "git://github.com/davisp/jiffy.git"}},
    {uuid,   ".*", {git, "git://github.com/okeuday/uuid.git"}},
    {uri,    ".*", {git, "git://github.com/heroku/uri.git"}},
    {erlaws, ".*", {git, "git://github.com/Flamefork/erlaws.git"}}
]}.
